{
  "identities": [
    {
      "name": "TestUser",
      "credentials": [
        {
          "accessKey": "TestAccessKey",
          "secretKey": "ASFJKHAJKNFskfhkshdjfhs32JKLFH"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write"
      ]
    }
  ]
}
