WEED_MASTER_OPTS="-mdir=\"{{weed_master_folder}}\" -ip=\"{{ansible_default_ipv4.address}}\" -port={{weed_masters_port}} -peers={{weed_masters_peers}} -defaultReplication={{weed_replication}} -metrics.address={{prometheus_push_gatway_server}}"

WEED_VOLUMES_OPTS="-dir=\"{{weed_data_folder}}\" -mserver={{weed_masters_peers}} -dataCenter={{dc}} -rack={{rack}} -port={{weed_volumes_port}} -max={{weed_volumes_count_max}} -ip=\"{{ansible_default_ipv4.address}}\""

WEED_FILER_OPTS="-ip=\"{{ansible_default_ipv4.address}}\" -port={{weed_filers_port}} -master={{weed_masters_peers}} -defaultReplicaPlacement={{weed_replication}}"

WEED_S3_OPTS="-filer=\"{{ansible_default_ipv4.address}}:{{weed_filers_port}}\" -port={{weed_s3_port}} -config={{weed_folder}}/s3-credentials.json"
